html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $primary-color;
    font-weight: 400;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.profile-icon {
    fill: none;
}

.cart-icon {
    fill: $primary-color;
}

.discount-svg {
    fill: none;
    stroke: $red-color;
}

.main {
    flex: 1 0 auto;
}

.subtitle {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}

.category-text {
    font-size: 10px;
    line-height: 12px;
}

.action-btn {
    font-size: 15px;
    line-height: 150%;
    color: $white-color;
    background-color: $primary-color;
}

.footer {
    flex: 0 0 auto;
}