@media (min-width: 375px) {
    .menu-burger {
        width: 35px;
        height: 20px;
    }

    .menu__btn {

        &::before,
        &::after {
            height: 32px;
        }
    }
}

@media (min-width: 768px) {
    .header {
        padding-top: 50px;

        &__inner {
            flex-wrap: nowrap;
            margin-bottom: 25px;
        }

        &__search {
            order: 0;
            width: unset;
            margin-top: 0;
        }
    }

    .menu {
        width: 35%;

        &__list {
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }

        &__list--tablet {
            display: flex;
        }

        &__link--delivery {
            display: none;
        }

        &__link {
            &--kitchen::before {
                content: url("../images/content/menu/kitchen-icon.svg");
            }

            &--bedroom::before {
                content: url("../images/content/menu/bedroom-icon.svg");
            }

            &--livingroom::before {
                content: url("../images/content/menu/livingroom-icon.svg");
            }

            &--closet::before {
                content: url("../images/content/menu/closet-icon.svg");
            }

            &--office::before {
                content: url("../images/content/menu/office-icon.svg");
            }

            &--childrensroom::before {
                content: url("../images/content/menu/childrensroom-icon.svg");
            }

            &--sale {
                color: $red-color;

                &::before {
                    content: url("../images/content/menu/sale-icon_red.svg");
                }
            }

            &--new::before {
                content: url("../images/content/menu/new-icon_yellow.svg");
            }

            &--mattress::before {
                content: url("../images/content/menu/mattress-icon.svg");
            }

            &--armchair::before {
                content: url("../images/content/menu/armchair-icon.svg");
            }

            &--cupboard::before {
                content: url("../images/content/menu/cupboard-icon.svg");
            }
        }
    }

    .menu-right {
        display: block;

        &__link {
            position: relative;
            padding-left: 35px;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
            }

            &--phone {
                display: none;
            }

            &--delivery {
                padding-left: 35px;

                &::before {
                    content: url("../images/delivery-icon_black.svg");
                }
            }
        }
    }

    .hero {
        padding-bottom: 42px;

        &__container {
            position: relative;
            padding-top: 71px;
            padding-bottom: 66px;
            background-color: $hero-bg;
            background-image: url("../images/hero-sofa.png");
            background-position: right;
            background-size: 437px;
            overflow: hidden;

            &::before,
            &::after {
                position: absolute;
                content: '';
                border-radius: 50%;
                z-index: map-get($zindex, minus);
            }

            &::before {
                top: -50%;
                left: 50%;
                background-color: $circle-second;
                width: 750px;
                height: 800px;
            }

            &::after {
                top: 0;
                right: 3%;
                background-color: $circle-first;
                width: 400px;
                height: 400px;
            }
        }

        &__inner {
            padding-left: 40px;
            max-width: 280px;
        }

        &__title,
        &__desc {
            color: $white-color;
        }

        &__title {
            margin-bottom: 15px;
            font-size: 35px;
            letter-spacing: 2px;
        }

        &__desc {
            margin-bottom: 25px;
            font-size: 16px;
        }

        &__link {
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    // Product page
    .product {
        padding-bottom: 50px;
    }

    // Product gallery block
    .gallery {
        &__cover {
            max-height: 250px;
        }
    }

    // Product page buy block
    .product-buy {
        &__btn-svg {
            width: 35px;
            height: 35px;
        }

        &__btn-text {
            display: inline-block;
            margin-left: 10px;
        }
    }

    // Product page specs block
    .specs {
        &__items {
            flex-direction: row;
            align-items: flex-end;
            max-width: 700px;

            &:not(:last-child) {
                margin-top: 25px;
            }
        }

        &__divider {
            flex-grow: 1;
            margin-right: 10px;
            margin-bottom: 2px;
            margin-left: 10px;
            border-bottom: 1px dashed $dove-gray;
        }

        &__value {
            margin-top: 10px;
        }
    }

    // Shopping cart
    .cart {
        padding-top: 40px;

        &__checkout {
            margin-top: 40px;
        }
    }

    .cart-item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &__container {
            display: flex;
            align-items: center;
        }

        &__picture {
            margin-right: 40px;
        }

        &__inner {
            flex-grow: 1;
        }

        &__top {
            display: flex;
            justify-content: space-between;
        }

        &__name {
            margin-bottom: 0;
        }
    }

    .cart-discount {

        &__svg,
        &__value {
            display: block;
        }
    }

    .cart-checkout {
        display: flex;
        align-items: center;

        &__price {
            margin-right: 25px;
            margin-bottom: 0;
            margin-left: auto;
        }
    }

    // End of Shopping cart

    // Catalog
    .catalog {

        &__container {
            display: flex;
        }

        &__filters {
            position: static;
            transform: translateX(0);
            padding: 20px 20px 30px;
            min-width: 263px;
        }

        &__categories {
            padding-top: 0;
        }

        &__top {
            display: none;
        }

        &__products {
            display: grid;
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            padding-top: 0;
        }

    }

    .sorting__filter-btn {
        visibility: hidden;
        opacity: 0;
    }

    .price-filter {
        &__range {
            width: calc(100% - 17px);
        }

        &__input {
            width: 80px;
        }

        &__divider {
            margin: 20px 5px 0;
        }
    }

    // End of Catalog

    // Start of Account
    .cashback {
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
        }

        &__title {
            margin-bottom: 0;
        }
    }

    // End of Account

    .footer {
        padding-top: 30px;
        padding-bottom: 42px;

        &__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 34px;
        }

        &__title {
            display: block;
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
        }

        &__address {
            position: relative;
            flex-direction: column;
            align-items: flex-end;
        }

        &__logo {
            position: absolute;
            top: -28px;
            right: 0;
        }

        &__text {
            margin-top: 40px;
            max-width: 195px;
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
        }

        &__deals {
            display: block;
        }

        &__deals-link {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        &__deals-link--sale {
            color: $red-color;
        }
    }

    .menu-footer {
        display: flex;

        &__list {
            &:not(:last-child) {
                margin-right: 50px;
            }
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .socials__link {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1024px) {
    .catalog__products {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    // Shopping cart
    .cart-item {

        &__bottom {
            margin-top: 30px;
        }

        &__bottom,
        &__options {
            display: flex;
        }

        &__options {
            align-items: center;
            justify-content: space-between;

            &:not(:last-child) {
                margin-right: 15px;
                margin-bottom: 0;
            }
        }
    }

    // End of Shopping cart

    // Start of Account
    .personal-account {
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

    .cashback {
        &__list {
            display: flex;
            justify-content: space-around;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: $burgerMenu-bg;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }

    .orders-table {
        max-width: 500px;

        &__title {
            display: block;
        }

        &__row {
            display: grid;
            grid-template-columns:
                minmax(100px, 300px) minmax(60px, 90px) minmax(60px, 100px) minmax(60px, 120px);
            align-items: center;
        }

        &__subtitle {
            display: none;
        }
    }

    // End of Account
}

@media (min-width: 1140px) {
    // .header {
    //     &__inner {
    //         justify-content: center;
    //     }

    //     &__logo {
    //         margin-right: 35px;
    //     }

    //     &__nav-left {
    //         margin-right: 40px;
    //     }

    //     &__search {
    //         margin-right: 60px;
    //     }

    //     &__icons {
    //         margin-left: 40px;
    //     }
    // }

    .menu-burger,
    .menu {
        display: none;
    }

    .menu-left,
    .menu-right {
        display: block;

        &__list {
            display: flex;
        }

        &__item {

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }

    .menu-right {

        &__link--phone {
            display: inline-block;
            padding-left: 25px;

            &::before {
                content: url("../images/phone-icon_black.svg");
            }
        }
    }

    .menu-categories {
        display: none;
    }

    .menu-bottom {
        display: block;
        margin-top: 20px;
        margin-bottom: 15px;
        box-shadow: $primary-shadow;

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__item {
            position: relative;
            padding: 25px 23px;
        }

        &__item--red {
            color: $red-color;
        }

        &__link {
            display: flex;
            align-items: center;
        }

        &__svg {
            width: 23px;
            height: 23px;
            margin-right: 10px;
            fill: $black-color;
        }

        &__svg--etc {
            stroke: $black-color;
        }
    }

    .dropdown-list {
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        max-width: 200px;
        opacity: 0;
        background-color: $white-color;
        box-shadow: $primary-shadow;
        z-index: map-get($zindex, overlay);

        &--etc {
            left: auto;
            right: 0;
        }

        &__item {
            &:first-child {
                padding-top: 10px;
            }
        }

        &__link {
            display: block;
            padding: 8px 25px;
            font-size: 16px;
            line-height: 120%;
        }
    }

    .hero {
        &__title {
            font-size: 50px;
        }
    }

    // Start of Sale-hits sizes block
    .sale-hits__sizes {
        padding-top: 15px;
        padding-bottom: 17px;
    }

    .sale-hits__sizes,
    .sale-hits__btn {
        display: block;
    }

    .hidden {
        opacity: 0;
        transition: opacity .5s ease-out;
    }

    .sizes {
        &__title {
            margin-bottom: 8px;
            font-size: 16px;
            text-align: left;
        }

        &__items {
            display: flex;
            gap: 15px;
        }

        &__item--pseudo {
            position: relative;

            &::before,
            &::after {
                position: absolute;
                content: '×';
                top: 10px;
            }

            &::before {
                left: -15px;
            }

            &::after {
                right: -10px;
            }
        }

        &__subtitle,
        &__value {
            font-size: 14px;
            text-transform: uppercase;
        }

        &__subtitle {
            margin-bottom: 10px;
            color: $silver-dark;
        }
    }

    .sale-hits__btn {
        padding: 15px 45px;
    }

    // End of Sale-hits sizes block

    // Show sizes block and btn on hover
    .sale-hits__item {
        transition: box-shadow .3s ease-in-out;

        &:hover {
            transition: box-shadow .3s ease-in-out;
            box-shadow: $primary-shadow;

            .sale-hits__sizes,
            .sale-hits__btn {
                transition: opacity .5s ease-out;
                opacity: 1;
            }
        }
    }

    // Product page
    .product {
        padding-bottom: 90px;

        &__top {
            display: flex;
            align-items: center;
        }

        &__gallery {
            margin-right: 30px;
            max-width: 620px;
        }
    }

    // Account
    .personal-account {
        padding-top: 40px;
        padding-bottom: 170px;
    }

    .orders-table {
        max-width: 600px;
    }

    .footer {
        padding-bottom: 60px;
    }
}