// Main colors
$primary-color: #414141;
$accent-color: #245462;

// Secondary colors
$white-color: #fff;
$black-color: #000;
$red-color: #e92d2d;
$silver-chalice: #9e9e9e;
$dove-gray: #686868;
$amber-color: #ffc107;
$silver-dark: #bfbfbf;

// Backgrounds
$burgerMenu-bg: #f9f9f9;
$burgerMenu-bg--active: linear-gradient(90deg, #f1f1f1 0%, rgba(238, 246, 250, 0.19) 82.82%, rgba(237, 248, 252, 0) 107.25%);
$header-bg: #313131;
$about-page: #d7e8ed;

// Hero circle
$circle-first: #dacfc9;
$circle-second: #444444;
$hero-bg: rgba(28, 28, 28, 0.44);

// Filter colors
$cinnabar: #e94848;
$chateau-green: #43bf57;
$mercury: #e4e4e4;
$mine-shaft: #3e3e3e;
$zambezi: #675a5a;
$roman-coffee: #864f4f;
$soft-amber: #ccbeb1;
$tapestry: #af527e;

// Box shadows
$primary-shadow: 4.0px 8.0px 8.0px rgba(0, 0, 0, 0.07);
$secondary-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.10);
$max-height-shadow: 8px 16px 16px rgba(0, 0, 0, 0.07);
$checkbox-shadow: 0 0 0 0.05rem #fff,
0 0 0.15rem 0.1rem #414141;
$input-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);

// Z-index
$zindex: (burgerMenu: 2,
    overlay: 1,
    minus: -1,
)