.bestsellers {
    padding-top: 10px;
    padding-bottom: 40px;

    &__title {
        font-weight: 500;
        font-size: 20px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
        place-items: center;
        gap: 15px;
        margin-top: 15px;
    }

    &__btn {
        margin-top: 50px;
    }
}

.sale-hits {
    &__item {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &__item--discount {
        position: relative;
        background-image: url("../images/content//menu/sale-icon_red.svg");
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: top 29px left 20px;
    }

    &__discount {
        position: absolute;
        top: 30px;
        left: 40px;
        font-weight: 500;
        font-size: 14px;
    }

    &__buttons {
        margin-left: auto;
    }

    &__btn-top {
        margin-bottom: 14px;

        &:not(:last-child) {
            margin-right: 14px;
        }
    }

    &__svg {
        width: 27px;
        height: 27px;
        fill: $primary-color;
    }

    &__title {
        margin-top: 26px;
        margin-bottom: 5px;
    }

    &__title,
    &__span {
        font-weight: 500;
        font-size: 16px;
    }

    &__text {
        margin-bottom: 8px;
        font-size: 14px;
    }

    &__span {

        &--line-through {
            margin-left: 6px;
            text-decoration-line: line-through;
            color: $silver-dark;
        }
    }

    &__sizes,
    &__btn {
        display: none;
    }
}

.show-more {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    max-width: 1140px;
    font-size: 18px;
    line-height: 150%;
    color: $white-color;
    background-color: $primary-color;
}